:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
}

#controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 子要素のみがイベントを受ける */
}

.control-button {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.05); /* 半透明で見えるように */
  pointer-events: auto; /* イベントを受ける */
  touch-action: none;
  border-radius: 12px;
}

#left {
  bottom: 5%;
  left: 5%;
}

#right {
  bottom: 5%;
  right: 5%;
}

#fire {
  top: 5%;
  right: 5%;
}